Repository correia97/sso-arquitetura: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

ajuste para codecov
  appveyor.yml
Due: none

ajuste para codecov
  .circleci/config.yml
  .github/workflows/dotnet.yml
Due: none

ajuste nas pipelines codecov
  .circleci/config.yml
  .github/workflows/dotnet.yml
Due: none

ajuste nas pipelines codecov e badges
  .github/workflows/dotnet.yml
Due: none

badges
  readme.md
Due: none

Alterações de folder para codecov
  .circleci/config.yml
  .github/workflows/dotnet.yml
Due: none

Alterações para codecov
  .circleci/config.yml
  .github/workflows/dotnet.yml
Due: none

apontamentos sonar
  src/Cadastro.API/Controllers/WeatherForecastController.cs
  src/Cadastro.Configuracoes/LoggingExtension.cs
Due: production

apontamentos sonar part2
  src/Cadastro.API/Services/FuncionarioAppService.cs
  src/Cadastro.Configuracoes/RabbitMQConsumer.cs
  src/Cadastro.Data/Repositories/FuncionarioRepository.cs
Due: production

apontamentos sonar part3
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.MVC/Controllers/HomeController.cs
  src/Cadastro.MVC/Services/WeatherForecastService.cs
Due: production

Metodos para remover e desativar funcionários
  src/Cadastro.Data/Repositories/BaseRepository.cs
  src/Cadastro.Data/Repositories/FuncionarioRepository.cs
  src/Cadastro.Domain/Funcionario/Interfaces/IFuncionarioWriteRepository.cs
  src/Cadastro.Domain/Funcionario/Services/FuncionarioService.cs
  src/Cadastro.Domain/Funcionario/Services/IFuncionarioService.cs
  src/Cadastro.Domain/Interfaces/IWriteRepository.cs
  src/Cadastro.MVC/Program.cs
  src/Cadastro.WorkerService/Program.cs
  src/nginx/nginxconfig/default.conf
  src/nginx/nginxconfig/keycloak.conf
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
Due: production, test

Metodo para remover e desativar com teste de unidade
  src/Cadastro.API/Interfaces/IFuncionarioAppService.cs
  src/Cadastro.API/Services/FuncionarioAppService.cs
  src/Cadastro.Configuracoes/RabbitConfigExtension.cs
  test/Cadastro.Test/Apresentacao/API/Services/FuncionarioAppServiceTest.cs
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
Due: production, test

refatoração
  loadTest.yaml
  src/Cadastro.API/Controllers/WeatherForecastController.cs
  src/Cadastro.API/Models/Response/Response.cs
  src/Cadastro.API/Program.cs
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Configuracoes/ExceptionConverter.cs
  src/Cadastro.Configuracoes/HasScopeHandler.cs
  src/Cadastro.Configuracoes/HasScopeRequirement.cs
  src/Cadastro.Configuracoes/LoggingExtension.cs
  src/Cadastro.Configuracoes/RabbitConfigExtension.cs
  src/Cadastro.Configuracoes/RabbitMQConsumer.cs
  src/Cadastro.Domain/Interfaces/INotificationService.cs
  src/Cadastro.MVC/Models/Response/Response.cs
  test/Cadastro.Test/Apresentacao/API/Services/FuncionarioAppServiceTest.cs
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
Due: production, test

Correções de digitação e ordem dos itens
  loadTest.yaml
  result.json
  src/Cadastro.API/Controllers/V1/FuncionarioController.cs
  src/Cadastro.Configuracoes/RabbitConfigExtension.cs
  test/Cadastro.Test/Apresentacao/API/Controllers/FuncionarioControllerTest.cs
  test/Cadastro.Test/Infra/Services/NotificationServiceTest.cs
Due: production, test

remoção de arquivo
  result.json
Due: none

atualização de pacotes e ajuste no nome dos serviços
  docker-compose.override.yml
  docker-compose.yml
  loadTest.yaml
  src/Cadastro.API/Program.cs
  src/cadastro.angular/package.json
Due: production

atualização de pacotes e versões do angular
  src/cadastro.angular/Dockerfile
  src/cadastro.angular/README.md
  src/cadastro.angular/angular.json
  src/cadastro.angular/default.conf
  src/cadastro.angular/e2e/src/app.e2e-spec.ts
  src/cadastro.angular/karma.conf.js
  src/cadastro.angular/package.json
  src/cadastro.angular/src/app/app.component.spec.ts
  src/cadastro.angular/src/index.html
Due: none

atualização da configuração do opentelemetry e configurações para coletar status do keycloack
  docker-compose.yml
  grafana dash.txt
  prometheus.yaml
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.API/Program.cs
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.GRPC/Cadastro.GRPC.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.MVC/Program.cs
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
  src/Cadastro.WorkerService/Program.cs
  src/KeyCloak/extension/keycloak-metrics-spi-2.5.3.jar
Due: production

Ajuste de layout, correção na chamada da api e config da paginação
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.MVC/Controllers/BaseController.cs
  src/Cadastro.MVC/Controllers/FuncionarioController.cs
  src/Cadastro.MVC/Interfaces/IFuncionarioService.cs
  src/Cadastro.MVC/Models/Response/EnderecoResponse.cs
  src/Cadastro.MVC/Models/Response/FuncionarioResponse.cs
  src/Cadastro.MVC/Models/Response/Response.cs
  src/Cadastro.MVC/Models/Response/TelefoneResponse.cs
  src/Cadastro.MVC/Program.cs
  src/Cadastro.MVC/Services/FuncionarioService.cs
  src/Cadastro.MVC/Services/WeatherForecastService.cs
  src/Cadastro.MVC/Views/Funcionario/Delete.cshtml
  src/Cadastro.MVC/Views/Funcionario/Edit.cshtml
  src/Cadastro.MVC/Views/Funcionario/Index.cshtml
  src/Cadastro.MVC/Views/Shared/_Layout.cshtml
  src/Cadastro.MVC/wwwroot/css/site.css
Due: production

alterações e correções no retorno das API para por padrão ser o objeto Response
  src/Cadastro.API/Controllers/V1/FuncionarioController.cs
  src/Cadastro.API/Controllers/WeatherForecastController.cs
  src/Cadastro.API/Interfaces/IFuncionarioAppService.cs
  src/Cadastro.API/Models/Response/Response.cs
  src/Cadastro.API/Program.cs
  src/Cadastro.API/Services/FuncionarioAppService.cs
Due: production

Correções nos serviços e querys
  docker-compose.yml
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Configuracoes/RabbitConfigExtension.cs
  src/Cadastro.Configuracoes/RabbitMQConsumer.cs
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Repositories/BaseRepository.cs
  src/Cadastro.Data/Repositories/FuncionarioRepository.cs
  src/Cadastro.Domain/Funcionario/Entities/Funcionario.cs
  src/Cadastro.Domain/Funcionario/Services/FuncionarioService.cs
  src/Cadastro.Domain/Funcionario/Services/IFuncionarioService.cs
  src/Cadastro.Domain/Interfaces/IReadRepository.cs
  src/Cadastro.WorkerService/Migrations/CriarBaseMigration.cs
  src/Cadastro.WorkerService/Program.cs
  src/Cadastro.WorkerService/Worker.cs
  src/database/Exemploquery/select paginado.sql
  test/Cadastro.Test/Apresentacao/API/Controllers/FuncionarioControllerTest.cs
  test/Cadastro.Test/Apresentacao/API/Services/FuncionarioAppServiceTest.cs
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
Due: production, test

Ajuste na documentação do projeto
  SetupUserKeycloak.postman_collection.json
  asset/05 RegistroUsuariosKeycloak-grupo.PNG
  asset/05 RegistroUsuariosKeycloak.PNG
  asset/gerenciador_certificado_windows00.png
  asset/gerenciador_certificado_windows01.png
  asset/gerenciador_certificado_windows02.png
  asset/gerenciador_certificado_windows03.png
  asset/gerenciador_certificado_windows04.png
  asset/gerenciador_certificado_windows05.png
  asset/gerenciador_certificado_windows06.png
  asset/gerenciador_certificado_windows07.png
  asset/gerenciador_certificado_windows08.png
  asset/gerenciador_certificado_windows09.png
  asset/gerenciador_certificado_windows10.png
  readme.md
  src/nginx/certificate/Comando para criar o certificado.txt
Due: none

Ajuste na documentação e lista de pacotes
  readme.md
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
Due: production

ajuste nas rotas e inicio do crud de funcionarios
  src/cadastro.angular/Dockerfile
  src/cadastro.angular/angular.json
  src/cadastro.angular/default.conf
  src/cadastro.angular/package.json
  src/cadastro.angular/src/app/app-routing.module.ts
  src/cadastro.angular/src/app/app.component.html
  src/cadastro.angular/src/app/app.component.ts
  src/cadastro.angular/src/app/app.module.ts
  src/cadastro.angular/src/app/funcionario/add/add.component.css
  src/cadastro.angular/src/app/funcionario/add/add.component.html
  src/cadastro.angular/src/app/funcionario/add/add.component.spec.ts
  src/cadastro.angular/src/app/funcionario/add/add.component.ts
  src/cadastro.angular/src/app/funcionario/edit/edit.component.css
  src/cadastro.angular/src/app/funcionario/edit/edit.component.html
  src/cadastro.angular/src/app/funcionario/edit/edit.component.spec.ts
  src/cadastro.angular/src/app/funcionario/edit/edit.component.ts
  src/cadastro.angular/src/app/funcionario/home/home.component.css
  src/cadastro.angular/src/app/funcionario/home/home.component.html
  src/cadastro.angular/src/app/funcionario/home/home.component.spec.ts
  src/cadastro.angular/src/app/funcionario/home/home.component.ts
  src/cadastro.angular/src/app/home/home.component.html
  src/cadastro.angular/src/app/home/home.component.ts
  src/cadastro.angular/src/app/models/request/enderecoRequest.ts
  src/cadastro.angular/src/app/models/request/funcionarioRequest.ts
  src/cadastro.angular/src/app/models/request/telefoneRequest.ts
  src/cadastro.angular/src/app/models/response/enderecoResponse.ts
  src/cadastro.angular/src/app/models/response/funcionarioResponse.ts
  src/cadastro.angular/src/app/models/response/response.ts
  src/cadastro.angular/src/app/models/response/telefoneResponse.ts
  src/cadastro.angular/src/app/service/apiclient.service.ts
  src/cadastro.angular/src/app/service/request-inteceptor.service.spec.ts
  src/cadastro.angular/src/app/service/request-inteceptor.service.ts
  src/cadastro.angular/src/app/service/route.service.spec.ts
  src/cadastro.angular/src/app/service/route.service.ts
  src/cadastro.angular/src/styles.css
Due: none

ajuste em apontamentos do sonar
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.API/Controllers/WeatherForecastController.cs
  src/Cadastro.API/Program.cs
  src/Cadastro.API/Services/FuncionarioAppService.cs
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.Configuracoes/LoggingExtension.cs
  src/Cadastro.Configuracoes/RabbitMQConsumer.cs
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Cadastro.Data.csproj
  src/Cadastro.Data/Repositories/FuncionarioRepository.cs
  src/Cadastro.Domain/Cadastro.Domain.csproj
  src/Cadastro.Domain/Funcionario/Services/FuncionarioService.cs
  src/Cadastro.GRPC/Cadastro.GRPC.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.MVC/Controllers/FuncionarioController.cs
  src/Cadastro.MVC/Interfaces/IFuncionarioService.cs
  src/Cadastro.MVC/Models/Response/EnderecoResponse.cs
  src/Cadastro.MVC/Models/Response/Response.cs
  src/Cadastro.MVC/Models/Response/TelefoneResponse.cs
  src/Cadastro.MVC/Program.cs
  src/Cadastro.MVC/Services/FuncionarioService.cs
  src/Cadastro.MVC/Services/WeatherForecastService.cs
  src/Cadastro.MVC/Views/Funcionario/Index.cshtml
  src/Cadastro.MVC/Views/Shared/_Layout.cshtml
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
  src/Cadastro.WorkerService/Program.cs
  src/nginx/certificate/mvc.localhost.key
  test/Cadastro.Test/Apresentacao/API/Controllers/FuncionarioControllerTest.cs
  test/Cadastro.Test/Apresentacao/API/Services/FuncionarioAppServiceTest.cs
  test/Cadastro.Test/Cadastro.Test.csproj
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
  test/Cadastro.Test/Infra/Services/NotificationServiceTest.cs
Due: production, test

ajuste no layout do angular e fluxo de api
  src/cadastro.angular/src/app/funcionario/edit/edit.component.html
  src/cadastro.angular/src/app/funcionario/edit/edit.component.ts
  src/cadastro.angular/src/app/models/request/enderecoRequest.ts
  src/cadastro.angular/src/app/models/request/funcionarioRequest.ts
  src/cadastro.angular/src/app/models/request/telefoneRequest.ts
  src/cadastro.angular/src/app/models/response/telefoneResponse.ts
Due: none

atualização na versão das dependencias e correção dos testes
  .env
  docker-compose.yml
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.API/Program.cs
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Cadastro.Data.csproj
  src/Cadastro.GRPC/Cadastro.GRPC.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.MVC/Program.cs
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
  src/Cadastro.WorkerService/Program.cs
  test/Cadastro.Test/Cadastro.Test.csproj
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
  test/LoadTest/artillery/loadTest-function.js
  test/LoadTest/artillery/loadTest.yaml
  test/LoadTest/k6/loadtest.js
Due: production, test

Alteração nos logs
  src/Cadastro.Domain/Funcionario/Services/FuncionarioService.cs
Due: production

itens do sonar
  src/Cadastro.API/Controllers/V1/FuncionarioController.cs
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Repositories/BaseRepository.cs
  src/Cadastro.Data/Repositories/FuncionarioRepository.cs
  src/Cadastro.Domain/Entities/Endereco.cs
  src/Cadastro.Domain/Entities/TokenPayload.cs
  src/Cadastro.Domain/Enums/TipoEndereco.cs
  src/Cadastro.Domain/Enums/TransactionStatus.cs
  src/Cadastro.Domain/Funcionario/Services/FuncionarioService.cs
  src/Cadastro.MVC/Views/Account/Claims.cshtml
  src/Cadastro.MVC/Views/Funcionario/Index.cshtml
  test/Cadastro.Test/Apresentacao/API/Controllers/FuncionarioControllerTest.cs
  test/Cadastro.Test/Dominio/Funcionario/Services/FuncionarioServiceTest.cs
Due: production, test

Correção
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
Due: production

Ajuste no token login
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Domain/Entities/TokenPayload.cs
  src/Cadastro.MVC/Program.cs
Due: production

ajuste html
  src/Cadastro.MVC/Views/Account/Claims.cshtml
  src/Cadastro.MVC/Views/Funcionario/Index.cshtml
Due: production

ajustes sonar
  src/Cadastro.Configuracoes/AuthorizationAuthenticationCustomExtension.cs
  src/Cadastro.Data/Repositories/BaseRepository.cs
Due: production

Atualização de pacotes
  docker-compose.yml
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.Configuracoes/RabbitMQConsumer.cs
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Cadastro.Data.csproj
  src/Cadastro.Domain/Cadastro.Domain.csproj
  src/Cadastro.GRPC/Cadastro.GRPC.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
  src/Rabbitmq/Dockerfile
  src/cadastro.angular/.gitignore
  src/cadastro.angular/Dockerfile
  src/cadastro.angular/angular.json
  src/cadastro.angular/package.json
  src/cadastro.angular/src/app/funcionario/home/home.component.ts
  src/cadastro.angular/src/app/service/request-inteceptor.service.ts
  src/cadastro.angular/tsconfig.json
  src/nginx/certificate/angular.localhost.crt
  src/nginx/certificate/angular.localhost.key
  src/nginx/certificate/api.localhost.crt
  src/nginx/certificate/api.localhost.key
  src/nginx/certificate/keycloak.localhost.crt
  src/nginx/certificate/keycloak.localhost.key
  src/nginx/certificate/mvc.localhost.crt
  src/nginx/certificate/mvc.localhost.key
  test/Cadastro.Test/Cadastro.Test.csproj
Due: production, test

Atualização de pacotes
  src/Cadastro.API/Cadastro.API.csproj
  src/Cadastro.Configuracoes/Cadastro.Configuracoes.csproj
  src/Cadastro.Configuracoes/TracingMetricsextension.cs
  src/Cadastro.Data/Cadastro.Data.csproj
  src/Cadastro.GRPC/Cadastro.GRPC.csproj
  src/Cadastro.MVC/Cadastro.MVC.csproj
  src/Cadastro.WorkerService/Cadastro.WorkerService.csproj
  test/Cadastro.Test/Cadastro.Test.csproj
Due: production, test

registro dos submobulos
  .gitmodules
Due: none

Organização das pastas
  Exemplo.SSO.sln
  docker-compose.yml
  test/Cadastro.Test/Apresentacao/API/Controllers/FuncionarioControllerTest.cs
  test/Cadastro.Test/Apresentacao/API/Services/FuncionarioAppServiceTest.cs
  test/Cadastro.Test/Cadastro.Test.csproj
Due: test

Path conditions:
  production: any of: src/Cadastro.API/, src/Cadastro.Configuracoes/, src/Cadastro.Data/, src/Cadastro.Domain/, src/Cadastro.GRPC/, src/Cadastro.MVC/, src/Cadastro.WorkerService/
  test: any of: test/Cadastro.Test/
